<div layout="column">
  <md-toolbar layout="row" class="md-primary">
    <md-button hide-gt-sm class="md-icon-button menuBtn">
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
    </md-button>
    <h1 layout-align-gt-sm="center" class="md-toolbar-tools">Drag n Drop Game</h1>
  </md-toolbar>
  <div layout="row" flex class="items-list" layout-align="center center">
    <md-button
      class="md-fab draggable-icon"
      aria-label="FAB"
      ng-drag="true"
      ng-center-anchor="true"
      ng-repeat="item in items"
      ng-drag-data="item"
      data-allow-transform="true">
      <img ng-src="{{item.url}}" alt=""/>
    </md-button>
  </div>
  <div layout="row" flex class="content-wrapper draggable-container-row" layout-align="space-around center">
<draggable-container
  label="Fruits">
</draggable-container>
<draggable-container label="Vegitables" ng-drop="true"></draggable-container>
  </div>

</div>
